apache-airflow-providers-google==10.14.0
apache-airflow-providers-http==4.10.0
google-cloud-bigquery==3.17.1
google-cloud-storage==2.14.0
google-auth==2.27.0
dbt-bigquery==1.8.2
pandas
requests==2.31.0
vaderSentiment==3.3.2
faker==24.0.0